canvas {
    background-image: url("imgCase/hinhNenXanhLaCay04.jpg");
}
#input1{
    position: absolute;
    top: 680px;
    left: 470px;
    width: 150px;
    border-radius: 10px;
}
.display{
    position: absolute;
    top:10px;
    left: 1200px;
    width: 300px;
    font-size: 15px;
    color: red;
}